  <table class="table">
    <tr>
      <td><%= link_to "Add new property", new_property_path, :class => "btn btn-primary btn-large btn-long" %></td>
      <td><%= link_to "View existing properties", "#", :class => "btn btn-info btn-large btn-long" %></td>
    </tr>
    <tr>
      <td><%= link_to "Add new renter", "#", :class => "btn btn-primary btn-large btn-long" %></td>
      <td><%= link_to "View existing renters", "#", :class => "btn btn-info btn-large btn-long" %></td>
    </tr>
  </table>
